# Database
NEON_DATABASE_URL=postgres://user:password@endpoint.neon.tech/neondb?sslmode=require

# App
PORT=8082
NODE_ENV=development

# JWT Secret (DO NOT COMMIT)
JWT_SECRET=super_secret_key_change_me
